<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Chifon.Fluent.Mappins" value="Chifon.Cadastro.Map.dll" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=201.20.29.180,15334;Initial Catalog=CHIFON;user=sa;pwd=wmX3rUJwp@T%;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=INF-10\SQLEXPRESS;Initial Catalog=Chifon;user=sa;pwd=NewChifon32;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=PC-CRIS;Initial Catalog=Chifon;user=sa;pwd=vca@r$tn;" providerName="System.Data.SqlClient" />-->
    <!--<add name="conexaoFireBird" connectionString="User=SYSDBA;Password=masterkey;Database=127.0.0.1:C:/MMISISTEMAS/CLIENTES/CLIENTES.FDB;" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
    <authentication mode="Windows">
    <forms loginUrl="~/Home/Login" cookieless="UseCookies" />
    </authentication>
    <sessionState timeout="60" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Chifon.Behaviors">
            <serviceDebug includeExceptionDetailInFaults="false" />
            <serviceMetadata httpGetEnabled="true" />
          <!-- Para evitar a divulgação de informações de metadados, defina os valores abaixo para falso antes da implantação -->
          <!--serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/-->
          <!-- Para receber detalhes de exceção em falhas para fins de depuração, defina o valor abaixo para verdadeiro. Defina para falto antes da implantação para evitar a divulgação de informações de exceção -->
          <!--serviceDebug includeExceptionDetailInFaults="false"/-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="Chifon.BindingWsHttp" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" transactionFlow="true" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Message">
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="Chifon.BindingNetTcp" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="true" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="InvestigationService" address="http://localhost:81/EniWineService/InvestigationService.svc" binding="wsHttpBinding" bindingConfiguration="Chifon.BindingWsHttp" contract="EniWine.Investigation.Services.Contracts.IInvestigationService" />
    </client>
    <services>
      <service behaviorConfiguration="Chifon.Behaviors" name="EniWineService.Investigation.Services.InvestigationService">
        <endpoint address="http://localhost:81/EniWineService/InvestigationService.svc" binding="wsHttpBinding" bindingConfiguration="Chifon.BindingWsHttp" contract="EniWine.Investigation.Services.Contracts.IInvestigationService" />
        <endpoint address="http://localhost:81/EniWineService/InvestigationService.svc/mex" contract="IMetadataExchange" binding="mexHttpBinding" />
      </service>
    </services>

    <!--protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping-->    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para procurar o diretório de raiz do aplicativo Web durante a depuração, defina o valor abaixo para verdadeiro.
        Defina-o para falso antes da implantação para evitar a divulgação de informações da pasta do aplicativo Web.
-->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
